

#map {
      position: relative;
      margin: 0 auto;
      background: #6b8e22;
      border: 3px solid #025324;
      border-radius: 12px;
      overflow: hidden;
    }

#pathCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
  pointer-events: none; 
}

.node {
      position: absolute;
      padding: 8px 12px;
      background: #ffffff;
      border: 2px solid #008d47;
      border-radius: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #008d47;
      text-align: center;
      transform: translate(-50%, -50%);
      box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
      white-space: nowrap;
    }
  
#node_controls {
  margin-bottom: 12px;
  display: flex;
  gap: 10px;
}

button {
    width: 31.33%;
    height: 60px;
    margin: 2px;
}

#add_node {
    background-color: #68f73081;
    color: white;
    font: time,serif;
}

#remove_node {
    background-color: #68f73081; /* or another color you prefer */
    color: white;
}